/* @theme ntt */

section {
  width: 25.4cm;
  height: 14.29cm;
  background-color: #fff;
}

section.title {
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 60px 52px;
}

section.title h1 {
  font-family: "Meiryo";
  color: #006cb9;
  font-size: 44pt;
  position: absolute;
  bottom: 146px;
  left: 68px;
}

section.title h2 {
  font-family: "Meiryo";
  color: #006cb9;
  font-size: 18pt;
  position: absolute;
  bottom: 70px;
  left: 67px;
}

section.title footer {
  color: #fff;
}

section.title::after {
  color: #fff;
}

section.slide {
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 810px 32px;
  font-family: "Meiryo";
  font-size: 20pt;
  color: #000;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 98px;
}

section.slide strong {
  font-size: 24pt;
}

section.slide h1 {
  font-family: "Meiryo";
  color: #006cb9;
  font-size: 30pt;
  position: absolute;
  top: -10px;
  left: 40px;
}

section.slide footer {
  font-family: "Segoe UI";
  color: #000;
  font-size: 8pt;
  position: absolute;
  left: 42px;
  bottom: 2px;
}

section.slide::after {
  font-family: "Segoe UI";
  font-size: 12pt;
  color: #006cb9;
  position: absolute;
  right: -33px;
}

section.last {
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 810px 32px;
}

section.last h1 {
  color: #006cb9;
  font-size: 50pt;
  font-family: "Segoe UI";
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 190px;
  top: 173px;
}

section.last footer {
  color: #fff;
}

section.last::after {
  color: #fff;
}
